#cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-width: 1000px;
    grid-gap: 25px;
}

.a-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 260px;
}

#item-description {
    text-align: center;
}
