@import url(https://fonts.googleapis.com/css?family=Asap:400,700|Lato:400,700,900|Source+Sans+Pro:400,700&display=swap);
body {
  margin: 0;
  background: #f9f9f9;
  font: 14px asap, arial;
}
h1 {
  margin: 0 0 -10px 0;
  font: bold 36px asap, arial;
  color: #555;
  letter-spacing: -1px;
}
h2 {
  margin: 0 0 -10px 0;
  font: bold 26px asap, arial;
  color: #555;
  letter-spacing: 0;
}
h3 {
  margin: 0 0 -10px 0;
  font: bold 20px asap, arial;
  color: #555;
  letter-spacing: 0;
}
p {
  font: 17px "source sans pro", arial;
  color: #202020;
  line-height: 1.5;
  text-align: left;
  padding: 0 0 0 2px;
}
a {
  color: #006cff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
b {
  opacity: 0.95;
}
ul {
  font: 17px "source sans pro", arial;
  color: #202020;
  line-height: 1.5;
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  font: 17px "source sans pro", arial;
  color: #202020;
  line-height: 1.5;
  text-align: left;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
br {
  clear: both;
}
.h5 {
  clear: both;
  display: block;
  content: "";
  height: 5px;
}
.h10 {
  clear: both;
  display: block;
  content: "";
  height: 10px;
}
.h15 {
  clear: both;
  display: block;
  content: "";
  height: 15px;
}
.h20 {
  clear: both;
  display: block;
  content: "";
  height: 20px;
}
.colorred {
  color: red;
}
.mw450 {
  max-width: 450px !important;
}
.mw450dblock {
  max-width: 450px !important;
  display: block !important;
}
.w100mw300 {
  width: 100%;
  max-width: 300px;
}
.w100mw300h80 {
  width: 100%;
  max-width: 300px;
  height: 80px;
}
.w100mw40 {
  width: 100%;
  max-width: 40px;
}
.p050 {
  padding: 0 50px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #555;
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container {
  max-width: 758px;
  margin: 30px auto 20px;
  padding: 0px 0 20px 0;
}